

.hidden {
  display: none!important;
}

.foo {
  margin: 10px 30px 0 30px;
}

.pass {
  display: flex;
  flex-direction: column;
}

.paslink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}

.passButton {
  background: none!important;
  border: none!important;
  padding: 0!important;
    /*optional*/
  font-family: arial, sans-serif;
    /*input has OS specific font-family*/
  color: #069!important;
  text-decoration: underline;
  cursor: pointer;
}