.root {
  background-color: rgba(110, 110, 110, 0.5);
  padding: 1px;
}

.hidden {
  display: none!important;
}

.foo {
  margin: 7px 30px;
  width: 85%;
}

.name {  
  display: flex;
  flex-direction: column;
}

.pandlink {
  display: flex;
  justify-content: center;  
  margin: 0;
}

.pandlink button {
  outline: none;
  margin-left: 5px;
  background: none;
  border: none!important;
  padding: 0;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}