doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Временный пароль
        style.
            .container { padding: 10px 50px; }

            
    body.container
        h3 Временный пароль
        p Ваш пароль на #{host} был изменён
        p Новый временный пароль: 
          b #{password}
        p Пожалуйста измените этот пароль на свой