.root {
  background-color: rgba(110, 110, 110, 0.5);
  padding: 2px;
}

.hidden {
  display: none!important;
}

.border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(248, 248, 250);
  width: 404px;
  height: 304px;
  border: 1px solid rgb(38, 128, 226);
  font-size: 15px;
}

.borderReg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(248, 248, 250);
  width: 404px;
  height: 354px;
  border: 1px solid rgb(38, 128, 226);
  font-size: 15px;
}

.borderForgot {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: stretch;
  background-color: rgb(248, 248, 250);
  width: 404px;
  height: 180px;
  border: 1px solid rgb(38, 128, 226);
  font-size: 15px;
}

.border input, .borderReg input, .borderForgot input {
  margin-top: 7px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

button {
  background-color: rgb(38, 128, 226);
  height: 36px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.border p, .borderReg p, .borderForgot p {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}
