

.hidden {
  display: none!important;
}

.foo {
  margin: 0px 30px 10px 30px;
}

.pass {
  display: flex;
  flex-direction: column;
}

.paslink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}

.passButton {
  background: none!important;
  border: none!important;
  padding: 0!important;
    /*optional*/
  font-family: arial, sans-serif;
    /*input has OS specific font-family*/
  color: #069!important;
  text-decoration: underline;
  cursor: pointer;
}

.password {
  display: flex;
  position: relative;
}

.password input {
  width: 100%;
}

.password button {  
  position: absolute;
  top: 10px;
  right: 0px;
  display: inline-block;
  width: 40px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}